body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

[data-xstate] {
  justify-self: stretch;
  align-self: stretch;
  border: none;
}
